.fp-wr {
    background-color: var(--white);
    height: 100vh;
    min-width: 200px;
    padding: 1.5rem;
}

.fp-header {
    justify-content: space-between;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1.5rem;
}

.fp-head {
    font-size: 18px;
}

.clear-btn {
    color: #2874f0;
    background: none;
    border: none;
    font-weight: bold;
    cursor: pointer;
}