.pc-wr {
    position: relative;
    width: 250px;
    padding: 0.75rem;
    align-items: flex-start;
    margin: 0.5rem 0;
    justify-content: space-between;
}

.pc-wr:hover {
    box-shadow: 1px 1px 9px rgba(0, 0, 0, .2);
}

.pc-cn {
    gap: 0.25rem;
}

.pc-wishlist {
    position: absolute;
    top: 1.25rem;
    right: 1.5rem;
    fill: #000;
    opacity: .4;
    stroke: transparent;
    font-size: 1.5rem;

}

.pc-img {
    max-width: 100%;
    margin-bottom: 0.25rem;
}

.pc-brand {
    color: var(--grey1);
}

.pc-head {
    font-size: 14px;
    font-weight: 400;
}

.pc-fa {
    position: absolute;
    top: 1.25rem;
    left: 1.25rem;
    max-height: 1rem;
}

.pc-price {
    gap: 0.5rem;
    align-items: baseline;
}

.disc-price {
    font-size: 1.25rem;
}

.ori-price {
    color: var(--grey1);
    text-decoration: line-through;
}

.disc {
    color: var(--green);
}

.txt-14 {
    font-size: 14px;
}

.pc-size {
    color: var(--grey1);
}